<div class="row">
    <div class="col-12">
        <nav aria-label="Page navigation " *ngIf="pages > 1">
            <ul class="pagination pull-right">
                <li class="page-item">
                    <div class="p-2">{{ getMax() }} page out of {{ pages }} pages</div>
                </li>
                <li class="page-item mx-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary " (click)="onPrev(page)" [disabled]="page == 1 || loading">Previous</button>
                </li>
                <li class="page-item">
                    <button type="button" class="btn btn-sm btn-outline-secondary " (click)="onNext(page)" [disabled]="page == 10 || loading">Next</button>
                </li>
            </ul>
        </nav>
    </div>
</div>